.App{
    background-image: linear-gradient(pink, purple,blue);
    overflow-x: hidden;
}

.table-body{
    width: 80%;
    margin-left: 5%;
    background-color:seashell;
    opacity: 0.75;

}
.button{
    margin-left: 900px;
    margin-top: 40px;
    background-color: skyblue;
    padding: 10px;
    border-radius: 25px;
}
.text1{
    
    width: 100%;
padding: 20px;
    background-color: skyblue;
    height: 20px;
}
.text2{
    margin-left: 30px;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
}
.text3{
    margin-left: 900px;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
}
.data{
    justify-content: center;
    background-color: tan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.submit{
    background-color: violet;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 30px;
}
.cancel{
    background-color: violet;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
}